<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Strona Główna</title>
    <link  th:href="@{/css/mainPageStyle.css}" rel="stylesheet"/>
</head>
<body >
<div class="navbar">
    <a href="../" >Strona główna</a>
    <a href="loginAccount" >Zaloguj się</a>
    <a href="register" >Stwórz konto</a>
    <a href="search" >Szukaj produktu</a>
    <a href="AdminPanel">Panel Admin</a>

</div>
<h1>Planszówki</h1>
<div>Witaj w sklepie!</div></div>
<h5> Jakieś oferty tutaj bedą się wyswietlać</h5>

</center>
</body>
</html>