<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Strona Główna</title>
    <link th:href="@{/css/mainPageStyle.css}" rel="stylesheet"/>
</head>
<body>
<div class="navbar">
    <a href="../">Strona główna</a>
    <a href="register">Stwórz konto</a>
    <a href="search">Szukaj produktu</a>


</div>
<h1>ZNAJDŹ PLANSZÓWKĘ</h1>
</div>
<form th:action="@{'/search/filter'}" method="post"   th:object="${criteria}">
    <table>
        <th>
            <p>Wpisz minimalna cene</p>
            <input type="number" value="0" th:name="minPrice"/><br>

            <p>Wpisz maksymalna cene</p>
            <input type="number" value="0" th:name="maxPrice"/><br>
        </th>
        <th>
            <p>Wpisz minimalna liczbe graczy</p>
            <input type="number" value="0" th:name="minPlayerToPlay"/><br>

            <p>Wpisz maksymalna liczbe graczy</p>
            <input type="number" value="0"  th:name="maxPlayerToPlay"/><br>
        </th>
        <th>
            <p>Wpisz minimalna srednia ocene</p>
            <input type="number"  value="0" th:name="minAverageGrade"/><br>

            <p>Wpisz maksymalna srednia ocene</p>
            <input type="number" value="0" th:name="maxAverageGrade"/><br>
        </th>
        <th>
            <p>Wpisz minimalny czas gry</p>
            <input type="number" value="0" th:name="minTime"/><br>

            <p>Wpisz maksymalny czas gry</p>
            <input type="number"  value="0"th:name="maxTime"/><br>
        </th>
        <th>
            <p>Wpisz minimalna wagę</p>
            <input type="number" value="0" th:name="minWeight"/><br>

            <p>Wpisz maksymalna wagę</p>
            <input type="number"  value="0"th:name="maxWeight"/><br>
        </th>
    </table>
    <input type="submit" value="SZUKAJ"/>
</form>

<h5> Lista planszówek</h5>
</center>

<table>
    <thead>
    <tr>
        <th> Nazwa</th>
        <th> Opis</th>
        <th> Ocena</th>
        <th> CENA</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${planszowki.empty}">
        <td colspan="2"> Brak planszówek na Stanie</td>
    </tr>
    <tr th:each="planszowka : ${planszowki}">
        <td><span th:text="${planszowka.name}"> Nazwa </span></td>
        <td><span th:text="${planszowka.description}"> opis </span></td>
        <td><span th:text="${planszowka.averageGrade}"> Ocena </span></td>
        <td><span th:text="${planszowka.price}"> Cena </span></td>
        <td><a th:href="@{'/boardgame/'+ ${planszowka.id}}">Pokaz szczegóły</a></td>
        <td><a th:href="@{'/boardgameAdd/'+ ${planszowka.id}}">Dodaj do koszyka</a></td>
    </tr>
    </tbody>
</table>


</body>
</html>